body {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    background-color: #668586;
    color: white;
    text-align: center;
}

h2 {
    background-color: #82AEB1;
    color: white;
    text-align: center;
}



